################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Storage/obj
/Services/obj
/Publisher/obj
/Model/obj
/Infrastructure/obj
/UnitTests/Services.Tests/obj
/UnitTests/Model/obj
/UnitTests/Main/obj
/Infrastructure/bin/Debug/netcoreapp3.1
/Model/bin/Debug/netcoreapp3.1
/Publisher/bin/Debug/netcoreapp3.1
/Services/bin/Debug/netcoreapp3.1
/Storage/bin/Debug
/UnitTests/Model/bin/Debug/netcoreapp3.1
/UnitTests/Main/bin/Debug/netcoreapp3.1
/UnitTests/Services.Tests/bin/Debug/netcoreapp3.1
/UnitTests/Main.Tests/bin/Debug/netcoreapp3.1
/UnitTests/Main.Tests/obj
/UnitTests/Model.Tests/obj
/UnitTests/Model.Tests/bin/Debug/netcoreapp3.1
/UnitTests/Publisher.Tests/bin/Debug/netcoreapp3.1
/UnitTests/Publisher.Tests/obj
/UnitTests/Storage.Tests/bin/Debug/netcoreapp3.1
/UnitTests/Storage.Tests/obj
