################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Storage/obj
/Services/obj
/Publisher/obj
/Model/obj
/Infrastructure/obj
/UnitTests/Services.Tests/obj
/UnitTests/Model/obj
/UnitTests/Main/obj
